<div class="row">
    <div class="col-6">
        <app-dona [labels]="labels1"
                  [data]="data1"
                  title="Pacientes">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [labels]="labels2"
                  [data]="data2"
                  title="Doctores">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona [labels]="labels3"
                  [data]="data3"
                  title="Enfermeras">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [labels]="labels4"
                  [data]="data4"
                  title="Especialistas">
        </app-dona>
    </div>
</div>